.wrapper.diy
{
	background-color:rgb(38,50,56);
}
/************/
/***body***/
/************/
.wrapper.diy .widget_welcome .welcome_title
{
	width:100%;
	height:200px;
}
/**/
.wrapper.diy .widget_tvcc
{
	background:rgb(28,43,64);
}
/**/
.wrapper.diy .widget_zone > #widget_zone_status_container > .zone_status
{
	border-left-color:rgb(20,30,54);
	border-bottom-color:rgb(20,30,54);
}
/**/
.wrapper.diy .JSstdby
{
	background-color: rgb(38,50,56);
}
/************/
/***footer***/
/************/
.wrapper.diy .footer_wizard
{
	background-color: rgb(35,35,35);
}